@import '../../pages/styles/global/variables.scss';

.cartCard {
  @include displayBeetwen();
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: $whiteGrey;

  &_btnDelete {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: $red;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 15px;
    color: $whiteGrey;
    cursor: pointer;
  }
  &_btnDelete:hover {
    transform: scale(1.05);
    transition: all .2s;
    box-shadow: 0 4px 8px rgba(202, 82, 82, 0.3);
  }

  &_leftBlock {
    margin-right: 50px;

    img {
      transition: all .2s;
      margin-bottom: 5px;
      border-radius: 10px 10px 0px 0px;
    }
    img:hover {
      transform: scale(1.05);
    }
  }

  &_blockInfo {
    display: flex;
    width: 250px;
    flex-direction: column;
    padding: 5px 10px;

    &_title {
      margin-bottom: 5px;
      min-height: 40px;
      font-size: 12px;
      text-align: center;
    }

    &_name {
      margin-bottom: 5px;
    }

    &_price {
      color: $green;
    }
  }

  &_rightBlock {
    margin-right: 50px;
  }

  &_quantity {
    @include displayCenter();
    flex-direction: column;

    &_text {
      margin-bottom: 10px;
    }

    &_details {
      @include displayCenter();
      gap: 10px;
      border: 2px solid $red;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(202, 82, 82, 0.3);
      background-color: rgb(124, 124, 124);

      &_minus,
      &_plus {
        border: none;
        border-radius: 10px;
        padding: 5px 10px;
        background-color: rgb(124, 124, 124);
        cursor: pointer;
        font-size: 20px;
        line-height: 20px;
        color: $whiteGrey;
      }

      &_counter {
        border-left: 2px solid $red;
        border-right: 2px solid $red;
        width: 50px;
        padding: 5px 15px;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: $whiteGrey;
      }
    }
    &_details:hover {
      transition: all .3s;
      box-shadow: 0 4px 8px rgba(202, 82, 82, 0.8);
    }
  }
}