@import '../global/variables.scss';

.notFound {
  @include displayCenter();
  flex-direction: column;
  height: 80vh;

  &_oops {
    margin-bottom: 10px;
  }

  &_hereNot {
    margin-bottom: 100px;
  }

  &_redirectToHome {
    border: none;
    border-radius: 10px;
    padding: 12px;
    color: #FFFFFF;
    background-color: $red;
  }
}

