$darkBlue:#383B40;
$red: #ca5252;
$green: #5fa36a;
$whiteGrey: #f5f5f5;

@mixin displayBeetwen {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin displayCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin displayStart() {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}