@import '../../pages/styles/global/variables.scss';

.logo {
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  color: inherit;
}

.navigation {
  @include displayBeetwen();
  margin-bottom: 50px;

  &_list {
    @include displayCenter();
    list-style: none;

    &_item:first-child {
      margin-left: 0;
    }
    &_item {
      margin-left: 25px;
      transition: all .2s;
    }
    &_item:hover {
      opacity: 0.5;
    }

    a {
      cursor: pointer;
      text-decoration: none;
      color: inherit;
    }
  }
}