@import '../../pages/styles/global/variables.scss';

.cart {
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: $whiteGrey;
  overflow: hidden;
 
  &_blockInfo {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
  }

  img {
    transition: all .2s;
    margin-bottom: 5px;
    border-radius: 10px 10px 0px 0px;
  }

  img:hover {
    transform: scale(1.05);
  }

  &_title {
    margin-bottom: 5px;
    min-height: 40px;
    font-size: 12px;
    text-align: center;
  }

  &_name {
    margin-bottom: 5px;
  }

  &_price {
    color: $green;
  }
}