@import '../../pages/styles/global/variables.scss';

.cartContainer {
  margin: 0 auto;
  max-width: 800px;
}

.title {
  margin: 0px 0px 20px 0px;
  text-align: center;
}

.cartIcon {
  margin-left: 20px;
  width: 25px;
  height: 25px;
}

.cartFlex {
  @include displayCenter();
  border: 2px solid $red;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(202, 82, 82, 0.3);
}